body{
  font: 16px/1.5 Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #2c2f33	;
  font-weight: bold;
}

/* Geral*/

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* HEADER */

header{
  background-color: #1e2124;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
}

header a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px;
}

header #logo{
  float: left;
}

.marca{
  width: 160px;
  padding-bottom: 10px;
}
.logo{
  width: 45px;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #7289da;
}

header a:hover{
  color: #ccc;
}

#position{	
	margin: 40px;	
}
h1 {
  margin-top: 40px;
  font-size: 40px;
  color: #fff;
  text-align: center;    
 }

 p {
   padding-right:5%;
   color: #fff;
   text-align: center;
   padding: 10px;
 }

 .colorall{
   margin: auto;
   width: 60%;
   border-radius: 5px;
   background-color: #1e2124;
   border: 1px solid #666666;
 }

 form {
   width: 70%;
   margin: auto;
   display:flex;
   flex-wrap:wrap;
   padding-top:20px;
 }

form input {
  width:48%;
  line-height: 20px;
  margin-right:2%;
  margin-bottom:12px;
  box-sizing:border-box;
  padding:3px;
  border: 0;
  border-bottom: 2px #fff solid;
  color: #D6D6D6;
  background: #1e2124;
}

#assunto{
	width:98%;
}

form input:focus{
  outline:none;
}

form textarea {
  width:98%;
  margin-bottom:20px;
  box-sizing: border-box;
  height:170px;
  padding:6px;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  border-radius: 4px;
  color:#D6D6D6;
  background-color: #1e2124;
}
form textarea:focus{

  box-shadow: 1px 1px 1px 1px #464646 inset;
  outline:none;
}

form input[type=submit] {
  width: 25%;
  line-height: 25px;
  border:none;
  border-radius: 5px;
  margin-left:auto;
  margin-bottom: 20px;  
  color: #fff;
  background-color: #7289da;
  padding: 5px;  
}

form input[type=submit]:hover {
   background-color: #667bc4;
   color: #ccc;
}


::placeholder{
  color: #a6a6a6;
}

/*FOOTER*/

footer{    
  margin-top: 50px;
  color: #fff;
  background-color:#7289da;
  font-size:14px;
}

footer p{
	text-align: center;	
	padding:5px;
	margin: 10px;
}

